<carousel [isAnimated]="true">
    <slide>
      <img src="assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/hero3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<section class="featured" style="margin-bottom: -160px;">
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to the Naijafood!</h1>
  </div>
</section>

<section>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="assets/images/Artisanal.jpeg" alt="Pantry Essentials" width="140" height="140">
            <h2>Essential Pantry</h2>
            <p>Stock up on pantry essentials and everyday staples. From grains to canned goods, we've got you covered.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Explore Now »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="assets/images/healthfocused.jpeg" alt="Gourmet Selection" width="140" height="140">
            <h2>Gourmet Selection</h2>
            <p>Indulge in premium treats and specialty items that elevate your culinary experience to new heights.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Discover More »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="assets/images/Gourmet.jpeg" alt="Wellness Haven" width="140" height="140">
            <h2>Wellness Haven</h2>
            <p>Nourish your body and soul with our curated selection of health-focused products and superfoods.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Start Exploring »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    
    
        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Empower Your Lifestyle. <span class="text-muted">Unlock the Possibilities.</span></h2>
            <p class="lead">Experience a revolution in non-perishable shopping. With financing options and free delivery to select locations, nourishing your life has never been easier.</p>
          </div>
          <div class="col-md-5">
            <img src="assets/images/Grains.jpeg" alt="Featurette 1" width="500" height="500">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Unleash Your Culinary Creativity. <span class="text-muted">Elevate Every Meal.</span></h2>
            <p class="lead">Discover artisanal delights and gourmet treasures. With flexible financing, you can indulge without compromise.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="assets/images/Superfoods.jpeg" alt="Featurette 2" width="500" height="500">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Transform Your Well-being. <span class="text-muted">Nourish Your Body.</span></h2>
            <p class="lead">Embark on a journey to vitality and health. With convenient financing, prioritize your wellness without compromise.</p>
          </div>
          <div class="col-md-5">
            <img src="assets/images/feature.jpeg" alt="Featurette 3" width="500" height="500">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
    
      </div>
</section>
<!-- Example usage in a template -->

<app-footer></app-footer>
