<div class="form-floating mb-3">
    <input
  
     type={{type}}
     [formControl]="control"  
     class="form-control" 
     [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
      placeholder="{{label}}"
      >
      <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spinner fa-spin loader"></div>
    <label for="floatingInput"> {{label}}</label>
    <div *ngIf="control.errors?.['required']" class="invalid-feedback">Please Enter your{{label}}</div>
    <div *ngIf="control.errors?.['email']" class="invalid-feedback">Input a valid email address</div>
    <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Password Not Complex </div>
    <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Email already exist </div>
  </div>